
a {
text-decoration: none;
}

.body {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 0 15px;   
}

.item {
font-size: 24px;
line-height: 28px;
}

.header_logo {
height: 79px;
width: 335px;
margin: 63px 0 38px 0;
}

.header_text {
font-size: 80px;
line-height: 94px;
color: black;
}

.header_text-color {
color:blue;
}

.header_navigation-menu {
height: 72px;
margin-bottom: 48px;
}

.header_menu__list {
display: flex;
justify-content: center;
height: 69px;
background-color: #35444F;
}

.header__list-itemt::after {
background-color: black;
}

.header_list-link {
display: block;
border-left: 2px solid white;
line-height: 69px;
width: 100%;
padding: 0 35px ;
color: #FFFFFF;
}

.header_menu__list>li:hover {
background-color: #222F3A;
}

.aside__container {
display: flex;
margin-bottom: 37px;    
}

.main__navigation-menu {
height: 344px;
width: 399px;
margin-right: 53px;
border: solid 1px black;
}

.main__list-item {
width: 250px;
height: 69px;
padding-left: 35px; 
}

.main__menu-list>li:hover {
background-color: #DBDBDB;
color: #35444F;
}

.main__list-link {
position: relative;
color: #495863;
}

.main__menu-list>li>a:hover {
top: 20px;
left: 20px;
color: black;
}

.main_background {
background-image: url(../images/top1-img\ 1.png);
height: 381px;
width: 320px;
background-repeat: no-repeat;
background-position: center; 
overflow: hidden;
}

.transform {
transition: all 1s ease-out;
}

.transform:hover {
transform: scale(1.2);
}

.top-img_fon {
width: 885px;
height: 529;
padding:75px 265px;
border: solid 1px black;
}


.article__inside {
display: flex;
justify-content: flex-end;   
}

.article__text {
width: 860px;
height: 0 auto;
}

.article__subtitle {
padding-bottom: 34px;
font-size: 18px;
line-height: 24px;
}

.article__subtitle:nth-child(2) {
padding: 0;
}

.footer__menu-list {
display: flex;
justify-content: space-around;
margin: 55px 0 30px 0;
height: 49px;
padding-top: 25px;  
background-color: rgba(99, 105, 110, 0.48);
}   

.footer__menu-list>li>a:hover{
text-decoration: underline;
color: blue;
}
